*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  --color-Dark-cyan: hsl(158, 36%, 37%);
  --color-Cream: hsl(30, 38%, 92%);
  --color-Very-dark-blue: hsl(212, 21%, 14%);
  --color-Dark-grayish-blue: hsl(228, 12%, 48%);
  --color-White: hsl(0, 0%, 100%);
}
body {
  font-family: Montserrat, Fraunces, "Courier New", Courier, monospace;
  background-color: gray;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
}
p {
  font-size: 14px;
  color: var(--color-Very-dark-blue);
  opacity: 0.7;
}
.container {
  width: 50%;
}
.card {
  background-color: var(--color-White);
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  max-width: 700px;
}
.card__header{
  flex: 1;
}
.card__header > img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card__body {
  padding: 0.5rem 2rem 2rem;
  flex: 1;
}
.card__type {
  color: var(--color-Very-dark-blue);
  opacity: 0.5;
  letter-spacing: 7px;
  font-weight: 600;
  font-size: 14px;
}
.card__title {
  color: var(--color-Very-dark-blue);
  font-weight: 700;
  font-size: 2.5rem;
  font-family: Fraunces;
  line-height: 2.5rem;
}
.card__description {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.card__price {
  color: var(--color-Dark-cyan);
  font-family: Fraunces;
  font-size: 2.5rem;
}
.card__price > span {
  position: relative;
  font-size: 1rem;
  display: inline-block;
  font-family: Montserrat;
  color: var(--color-Very-dark-blue);
  opacity: 0.5;
  text-align: center;
  bottom: 5px;
  left: 10px;
}

/* Button */
.btn {
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: var(--color-Dark-cyan);
  color: white;
  font-weight: bold;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 10px;
  transition: background 0.5s ease-out;
}

.btn:hover,
.btn:focus {
  background-color: hsl(158, 36%, 29%);
  cursor: pointer;
}

@media (width > 996px) {
  .card {
    flex-direction: row;
    gap: 0;
  }
  .card__body {
    margin: auto ;
  }
  .card__header {
    width: 100%;
    height: auto;
  }
  .card__header > img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
}
